<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>GatiCam</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="icon" type="image/x-icon" href="https://gocv.io/images/gocvlogo.jpg">
  </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-lg-8  offset-lg-2">
                    <h1 class="titulo">Pumardo en directo</h2>
                    <img src="{{ url_for('video_feed') }}" class="center">
                </div>
            </div>
        </div>
    </body>
</html>